# Pyspark Dataframe Part 3 : Filter Operation
We will look into 
- filter operation
- and , or , equal to
- ~

#### Set spark instances

In [2]:
import pyspark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test01').getOrCreate()

In [2]:
spark

#### Set dataset

In [11]:
# read dataset
# notice the NULL value

df_pyspark = spark.read.csv('customer.csv', header =True, inferSchema = True)
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Zikri|  24|         1|  4500|
|Zakhwan|  25|         1|  4700|
|   Amir|  27|         2|  5000|
|  Ammar|  30|         6|  8500|
|  Haziq|  24|         2|  4700|
|  Irfan|  25|         1|  6000|
|  Fahmi|  27|         5|  7000|
|  Majid|  27|      NULL|  5500|
|   NULL|  25|         2|  5000|
|    Ali|  25|         2|  NULL|
|    Abu|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [12]:
#### Delete NULL values

df_pyspark = df_pyspark.na.drop()
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Zikri| 24|         1|  4500|
|Zakhwan| 25|         1|  4700|
|   Amir| 27|         2|  5000|
|  Ammar| 30|         6|  8500|
|  Haziq| 24|         2|  4700|
|  Irfan| 25|         1|  6000|
|  Fahmi| 27|         5|  7000|
+-------+---+----------+------+

#### Filter operation

In [14]:
# filter (salary less than or equal to 5500)

df_pyspark.filter("Salary <= 5500").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Zikri| 24|         1|  4500|
|Zakhwan| 25|         1|  4700|
|   Amir| 27|         2|  5000|
|  Haziq| 24|         2|  4700|
+-------+---+----------+------+

In [15]:
# filter (salary less than or equal to 5500)
# add select to filter

df_pyspark.filter("Salary <= 5500").select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Zikri| 24|
|Zakhwan| 25|
|   Amir| 27|
|  Haziq| 24|
+-------+---+

In [22]:
# make 2 filters using &

df_pyspark.filter((df_pyspark['Salary'] <= 5500) &
                   (df_pyspark['Age'] <= 25)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Zikri| 24|         1|  4500|
|Zakhwan| 25|         1|  4700|
|  Haziq| 24|         2|  4700|
+-------+---+----------+------+

In [23]:
# make 2 filters using |

df_pyspark.filter((df_pyspark['Salary'] <= 5500) |
                   (df_pyspark['Age'] <= 25)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Zikri| 24|         1|  4500|
|Zakhwan| 25|         1|  4700|
|   Amir| 27|         2|  5000|
|  Haziq| 24|         2|  4700|
|  Irfan| 25|         1|  6000|
+-------+---+----------+------+

In [27]:
# make operation using NOT (~)

df_pyspark.filter(~(df_pyspark['Salary'] <= 5500)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Ammar| 30|         6|  8500|
|Irfan| 25|         1|  6000|
|Fahmi| 27|         5|  7000|
+-----+---+----------+------+