# Pyspark Dataframe Part 4 : Groupby and Aggregate Function

- this is important for data pre processing

#### Set spark instances

In [1]:
import pyspark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test01').getOrCreate()

In [2]:
spark

#### Set dataset

In [3]:
# read dataset
# notice the NULL value

df_pyspark = spark.read.csv('customer.csv', header =True, inferSchema = True)
df_pyspark.show()

+-------+----+----------+------+----------------+
|   Name| Age|Experience|Salary|            Role|
+-------+----+----------+------+----------------+
|  Zikri|  24|         1|  4500|        Helpdesk|
|Zakhwan|  25|         1|  4700|      Accounting|
|   Amir|  27|         2|  5000|        Helpdesk|
|  Ammar|  30|         6|  8500|Customer Service|
|  Haziq|  24|         2|  4700|Customer Service|
|  Irfan|  25|         1|  6000|         Payroll|
|  Fahmi|  27|         5|  7000|         Payroll|
|  Majid|  27|      NULL|  5500|        Helpdesk|
|   NULL|  25|         2|  5000|        Engineer|
|    Ali|  25|         2|  NULL|        Engineer|
|    Abu|NULL|      NULL|  NULL|            NULL|
+-------+----+----------+------+----------------+

#### Delete NA

In [22]:
df_pyspark = df_pyspark.na.drop()
df_pyspark.show()

+-------+---+----------+------+----------------+
|   Name|Age|Experience|Salary|            Role|
+-------+---+----------+------+----------------+
|  Zikri| 24|         1|  4500|        Helpdesk|
|Zakhwan| 25|         1|  4700|      Accounting|
|   Amir| 27|         2|  5000|        Helpdesk|
|  Ammar| 30|         6|  8500|Customer Service|
|  Haziq| 24|         2|  4700|Customer Service|
|  Irfan| 25|         1|  6000|         Payroll|
|  Fahmi| 27|         5|  7000|         Payroll|
+-------+---+----------+------+----------------+

#### groupBy Function

In [23]:
# see the schema of dataframe

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Role: string (nullable = true)

In [24]:
# groupBy Name, show the sum of salary
# this make sense when we got the same name in the rows

df_pyspark.groupBy('Name').sum('Salary').show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|Zakhwan|       4700|
|  Zikri|       4500|
|   Amir|       5000|
|  Irfan|       6000|
|  Fahmi|       7000|
|  Ammar|       8500|
|  Haziq|       4700|
+-------+-----------+

In [25]:
# groupBy role to find average salary

df_pyspark.groupBy('Role').avg('Salary').show()

+----------------+-----------+
|            Role|avg(Salary)|
+----------------+-----------+
|      Accounting|     4700.0|
|         Payroll|     6500.0|
|Customer Service|     6600.0|
|        Helpdesk|     4750.0|
+----------------+-----------+

In [29]:
# groupBy role to find count of values

df_pyspark.groupBy('Role').count().show()

+----------------+-----+
|            Role|count|
+----------------+-----+
|      Accounting|    1|
|         Payroll|    2|
|Customer Service|    2|
|        Helpdesk|    2|
+----------------+-----+

In [26]:
# groupBy Age to find average salary

df_pyspark.groupBy('Age').avg('Salary').show()

+---+-----------+
|Age|avg(Salary)|
+---+-----------+
| 27|     6000.0|
| 25|     5350.0|
| 24|     4600.0|
| 30|     8500.0|
+---+-----------+

In [30]:
# groupBy Age to find average salary

df_pyspark.groupBy('Age').count().show()

+---+-----+
|Age|count|
+---+-----+
| 27|    2|
| 25|    2|
| 24|    2|
| 30|    1|
+---+-----+

In [47]:
# groupBy Role, show the mean, max and min of salary
# this make sense when got multiple rows of the same role

df_pyspark.groupBy('Role').max('Salary').show()

df_pyspark.groupBy('Role').min('Salary').show()

df_pyspark.groupBy('Role').avg('Salary').show()

+----------------+-----------+
|            Role|max(Salary)|
+----------------+-----------+
|      Accounting|       4700|
|         Payroll|       7000|
|Customer Service|       8500|
|        Helpdesk|       5000|
+----------------+-----------+

+----------------+-----------+
|            Role|min(Salary)|
+----------------+-----------+
|      Accounting|       4700|
|         Payroll|       6000|
|Customer Service|       4700|
|        Helpdesk|       4500|
+----------------+-----------+

+----------------+-----------+
|            Role|avg(Salary)|
+----------------+-----------+
|      Accounting|     4700.0|
|         Payroll|     6500.0|
|Customer Service|     6600.0|
|        Helpdesk|     4750.0|
+----------------+-----------+

#### agg (Aggregate Function)

In [35]:
# get the sum of all salaries

df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      40400|
+-----------+

In [36]:
# get the average of all salaries

df_pyspark.agg({'Salary':'avg'}).show()

+-----------------+
|      avg(Salary)|
+-----------------+
|5771.428571428572|
+-----------------+

In [39]:
# get the max of all salaries

df_pyspark.agg({'Salary':'max'}).show()

+-----------+
|max(Salary)|
+-----------+
|       8500|
+-----------+

In [40]:
# get the min of all salaries

df_pyspark.agg({'Salary':'min'}).show()

+-----------+
|min(Salary)|
+-----------+
|       4500|
+-----------+